<ion-header>
  <ion-toolbar>
    <ion-title>
      appVotação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Resultado da votação </h3> <br>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
     google.charts.load("current", {packages:["corechart"]});
     google.charts.setOnLoadCallback(drawChart);
     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Teste', 'Hours per Day'],
         ['Opção 1', 2],
         ['Opção 2', 2],
         ['Opção 3', 2],
         ['Opção 4', 2]
       ]);

       var options = {
         title: 'Votação Teste',
         is3D: true,
       };

       var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
       chart.draw(data, options);
     }

   </script>

<ion-button href = "home"> Voltar ao Titulo </ion-button>


</ion-content>
