<ion-header>
  <ion-toolbar>
    <ion-searchbar type = "search" placeholder="Filtrar Votações" [(ngModel)] = "valor" (ionChange) = "filtrar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>Votações em discussão</h4>

  <br>
  <ion-item *ngFor = "let votacao of listarFiltro">
    <ion-label>{{votacao.nome}} <ion-button>Entrar</ion-button></ion-label><ion-button href = "votacoes" (click) = "excluir(votacao.key)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" (click) = "criarVotacao()">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Criar Votação</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Usuarios" (click) = "listarUsuarios()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Usuarios Cadastrados</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>

</ion-content>
<ion-footer>
</ion-footer>
