<ion-header>
  <ion-toolbar>
    <ion-searchbar type="search" placeholder="Filtrar Votações" [(ngModel)]="valor" (ionChange)="filtrar()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h4>Votações em discussão</h4>

  <br>
  <ion-item *ngFor="let votacao of listarFiltro">
    <ion-label>{{votacao.nome}} </ion-label><br><br>
    
    <ion-button (click)="mostrarAlerta(votacao)">Entrar</ion-button>
    <ion-button href="votacoes" (click)="excluir(votacao)">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
    <ion-button (click)="alterarVotacao(votacao)">
      <ion-icon name="build"></ion-icon>
    </ion-button>
    <ion-button (click)="verResultado(votacao)">
      <ion-icon name="eye"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button  (click)="criarVotacao()">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Criar Votação</ion-label>
      </ion-tab-button>

      <ion-tab-button  (click)="abrirMenu()">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Menu</ion-label>
      </ion-tab-button>

      <ion-tab-button  (click) ="listarUsuarios()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Usuarios Cadastrados</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>


  <ion-menu side="start" class="menu-lateral">
    <ion-header>
      <ion-toolbar>
          <ion-avatar class = "imagem">
            <img src="../../assets/icon/g0ularte.png">
          </ion-avatar>
            <div class="nomedoUser">
            <ion-label></ion-label>
          </div>
          <br>
          <br>
          <br>
      </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-button expand = "full" (click) = "logout()">
        <ion-label>Sair da sessão <ion-icon name="exit"></ion-icon> </ion-label>
      </ion-button>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>


</ion-content>
<ion-footer>
</ion-footer>
