<ion-header>
  <ion-toolbar>

    <div class="avatar"><ion-icon name="person"></ion-icon><ion-chip>
  <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">{{nome_usuario}}
  </ion-avatar>
  <ion-label>{{nome_usuario}}</ion-label>
  <ion-icon name="close-circle"></ion-icon>
</ion-chip>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h4>Votações em discussão</h4>
  <ion-searchbar type = "search" placeholder="Filtrar Votações"></ion-searchbar>
  <br>
  <ion-item *ngFor = "let votacao of listadevotacoes | async">
    <ion-label>{{votacao.nome}} <ion-button>Entrar</ion-button></ion-label>
  </ion-item>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" (click) = "criarVotacao()">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Criar Votação</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="Usuarios" (click) = "listarUsuarios()">
        <ion-icon name="people"></ion-icon>
        <ion-label>Usuarios Cadastrados</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
