ion-content{
  --background : #CDB38B;
}
.botaovotar1{
  margin-top: -45px;
  margin-left: 120px;
}

.BotaoCriar{
  margin-top: -45px;
  margin-left: 220px;
}
ion-item{
  --background : brown;
}
ion-label{
  --background : brown;
}
h4{
  text-align: center;
}
.menu-lateral{
  --max-width : 200px;
  ion-toolbar{
    --background-color : #993399;
  }
}
.Icone_user{
  ion-label{
    margin-left : 80px;
    margin-top: 80px;
  }
}
