<ion-header>
  <ion-toolbar>
    <ion-title>
      appVotação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/icon/imagem_de_titulo.jpg" alt="imagem_de_titulo">
  <form>
    <h3>Insira suas credenciais</h3> <br>
    <div class="Cadastro">

      <h5>Nome: </h5>  <br>
      <ion-input [(ngModel)] = "usuario.nome" name = "nome" position = "stacked" placeholder = "Insira o nome aqui" class = "campo1"></ion-input> <br>

      <h5>Senha: </h5> <br>
      <ion-input [(ngModel)] = "usuario.senha" name = "senha" type = "password" placeholder = "Insira a senha aqui"></ion-input>
    </div>
    <ion-button class = "botao_entrar" (click)= "fazerLogin(usuario.nome)">Entrar!</ion-button>
    <h6>Não possui conta ainda? <a href="salvar_usuario">Inscreva-se!</a></h6> 
    <h6>Esqueceu a senha? <a href="redefinir_senha"> Clique aqui</a></h6>
 </form>

</ion-content>
