<ion-header>
  <ion-toolbar>
    <ion-title>
      Informe seus Dados:
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button (click) = "votacaoListar()"><ion-icon name = "arrow-dropleft"></ion-icon></ion-button> <h2 class = "vamo_alinhar">Dados : </h2> <br>
    <div class="Opcoes_votacao">
      <h5>Nome da Votação: </h5>  <br>
      <ion-input [(ngModel)] = "votacao.nome" position = "stacked" placeholder = "Insira o nome aqui" class = "campo1"></ion-input> <br>
      <h5>Senha da Votação: </h5> <br>
      <ion-input [(ngModel)] = "votacao.senha" type = "password" placeholder = "Insira a senha aqui"></ion-input>
    </div>
    <h5>Opções : </h5>
    <ol>
      <h5>Opção 1</h5> <ion-input [(ngModel)] = "votacao.opcao_1.nome"  placeholder = "Insira aqui"></ion-input> <br>
      <h5>Opção 2</h5> <ion-input [(ngModel)] = "votacao.opcao_2.nome" placeholder = "Insira aqui" ></ion-input> <br>
      <h5>Opção 3</h5> <ion-input [(ngModel)] = "votacao.opcao_3.nome" placeholder = "Insira aqui" ></ion-input>

    </ol>
    <ion-button class = "Botao_Criar" (click) = "salvar()">Criar Votação!</ion-button><br>
    <br>
    <br>
    <br>
    <br>
    <br>
</ion-content>
