<ion-header>
  <ion-toolbar>
    <ion-title>
        <ion-button href = "quadrado" size = "small">Quadrado</ion-button>
        <ion-button href = "triangulo" size = "small">Triangulo</ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 class = "tituloprincipal">Área do Círculo</h1>
  <p class = "explicacao">Na geometria, um círculo ou disco é o conjunto dos pontos internos de uma circunferência.
  <br> Por vezes, também se chama círculo o conjunto de pontos cuja distância ao centro é menor
  <br>ou igual a um dado valor (ao qual chamamos raio). A área A de um círculo pode ser expressa matematicamente por:</p>
  <h4>A = π * r² </h4>
  <br>
   <img src="../../assets/imagens/area_do_circulo.jpg" alt="area_do_circulo">
  <h2>Vamos Calcular a área do circulo?</h2>
  <br>
  <h3>Raio (r) = <ion-input [(ngModel)] = "raio"> </ion-input></h3>
  <br>
  <div class="botaocentro">
    <ion-button (click) = "calcularArea()"> Calcular Área! </ion-button>
  </div>
  <br>
  <p class = "cenralizaae">O valor da area é de [{{area}}]
  <br>(com valor de π arredondado em 4 casas decimais)</p>
  <br>
  <div class="centralizarbotao2">
    <ion-button href = "home">Voltar ao Título </ion-button>
  </div>

</ion-content>
<ion-footer>
</ion-footer>
