<ion-header>
  <ion-toolbar>
    <ion-title>
      appVotação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h3>Selecione uma Opção</h3> <br>
    <h5>Opções : </h5>
    <ol>
      <h5>Opção 1</h5> <ion-checkbox color="primary"></ion-checkbox><br>
      <h5>Opção 2</h5> <ion-checkbox color="secondary"></ion-checkbox><br>
      <h5>Opção 3</h5> <ion-checkbox color="danger"></ion-checkbox><br>
      <h5>Opção 4</h5> <ion-checkbox color="light"></ion-checkbox>
    </ol>
    <ion-button class = "Botao_votar" href = "resultado">Votar!</ion-button>
    <br><br><br><br><br><br><br>
</ion-content>
